/* Add Google font Fira Sans */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Add Tailwindcss directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Fira Sans', sans-serif;
    background-color: #F8F8F8;
  }

  * {
    padding: 0;
    margin: 0;
  }
}

@layer components {

  .list-item-footer {
    @apply font-extralight text-base
  }
  .list-item-footer:hover {
    @apply cursor-pointer text-project_yellow 
  }
  .list-item-header:hover {
    @apply cursor-pointer text-project_yellow
  }
  .mobile-menu {
    @apply flex items-center justify-center gap-1 bg-project_primary text-project_white pb-2
  }
  .list-item-header-mobile {
    @apply border border-project_white px-2 rounded-md font-extralight text-xs
  }
  .list-item-header-mobile:hover {
    @apply text-project_yellow
  }
  .section-bar {
    @apply w-full px-4 py-2 text-lg font-bold bg-project_secondary text-project_white
  }

  .phase-title {
    @apply text-lg font-medium my-2
  }

  .social-icon {
    @apply flex items-center justify-center p-3 rounded-full border-2 border-project_tertiary
  }

  .social-icon:hover {
    @apply border-project_yellow text-project_yellow cursor-pointer
  }
}